/* temporary */
/* body {
  padding: 2rem 2rem;
} */
/* temporary */

*,
::after,
::before {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Karla:400|Spectral:400');

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  /* primary */
  --primary-100: #fee2e2;
  --primary-200: #fecaca;
  --primary-300: #fca5a5;
  --primary-400: #f87171;
  --primary-500: #ef4444;
  --primary-600: #dc2626;
  --primary-700: #b91c1c;
  --primary-800: #991b1b;
  --primary-900: #7f1d1d;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* extra colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts */
  --headingFont: 'Spectral', serif;
  --bodyFont: 'Karla', sans-serif;
  --smallText: 0.7em;

  /* rest of the variables */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: all 0.3s ease-in-out;
  --maxWidth: 1120px;
  --fixedWidth: 600px;

  /* box-shadow */
  --shadow-1: 0 1px 3px 0 rgb(0, 0, 0, 0.1), 0 1px 2px 0 rgb(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgb(0, 0, 0, 0.1),
    0 2px 4px -1px rgb(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgb(0, 0, 0, 0.1),
    0 4px 6px -2px rgb(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgb(0, 0, 0, 0.1),
    0 10px 10px -5px rgb(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  margin: 0;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em; /*35em to 45em*/
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  width: 50vw;
  border-radius: var(--borderRadius);
  max-width: var(--max-width);
}

.img:not(.logo) {
  width: 100%;
  /* display: block; is important */
  display: block;
  object-fit: cover;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  /* temporary below */
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}

.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

.form {
  width: 90vw;
  max-width: var(--fixedWidth);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  outline: none;
}

.form-input:focus,
.form-textarea:focus {
  border: 0.25rem solid var(--primary-500);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.loading {
  height: 6rem;
  width: 6rem;
  border: 0.25rem solid var(--grey-400);
  border-top-color: var(--primary-500-500);
  border-radius: 50%;
  animation: load 0.6s linear infinite;
}

@keyframes load {
  to {
    transform: rotateZ(360deg);
  }
}

.loading {
  margin-left: auto;
  margin-right: auto;
}

/* title */

.title {
  text-align: center;
}

/* .title h2 {
  margin-bottom: 0.25rem;
} */

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

/*
==================
Lucky Birthday App
==================
*/

.alert {
  position: absolute;
  top: 0%;
  left: 50%;
  padding: 0.25rem 1rem;
  letter-spacing: var(--letterSpacing);
  transform: translateX(-50%);
  opacity: 0;
  transition: var(--transition);
}

.alert.show-alert {
  top: 5%;
  opacity: 1;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 0.5rem 0;
  background: conic-gradient(at 50% 65%, red, yellow, green);
}

.header {
  grid-area: 1 / 1 / span 1 / span 1;
  /* border: 2px solid red; */
  position: relative;
}

.header .heading {
  height: 5rem;
  /* border: 2px solid red; */
  /* background: var(--primary-500); */
  color: var(--white);
  font-size: 1.5rem;
  display: grid;
  place-items: center;
  letter-spacing: var(--letterSpacing);
  margin-bottom: 0.5rem;
}

.header p {
  font-size: 0.85rem;
  margin: 0 auto;
  width: 80vw;
  max-width: 500px;
  /* border: 2px solid red; */
  color: var(--white);
  letter-spacing: var(--letterSpacing);
}

p span {
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  body {
    background: conic-gradient(at 50% 50%, red, yellow, green);
  }
  .header .heading {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .header p {
    font-size: 1rem;
  }
}

[name='form'] {
  grid-area: 2 / 1 / span 1 / span 1;
  height: fit-content;
  margin: 0 auto;
  width: 80vw;
  max-width: 800px;
  border: 2px solid var(--white);
  /* background: var(--primary-100); */
  padding: 1rem 1rem;
  border-radius: 1rem;
  /* display: grid; */
}

[name='form'] > .inputs {
  display: grid;
  place-content: center;
  text-align: start;
  /* border: 2px solid red; */
  gap: 0.25rem 0;
  margin-bottom: 0.5rem;
}

.initial-price-input,
.quantity-input,
.current-price-input {
  /* border: 2px solid red; */
  width: 100%;
  /* margin: 0 auto; */
  max-width: 800px;
  color: var(--white);
}

.initial-price-input label,
.quantity-input label,
.current-price-input label {
  font-size: 0.75rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.initial-price-input input,
.quantity-input input,
.current-price-input input {
  font-size: 0.75rem;
  min-width: 100%;
  max-width: 700px;
  border: 2px solid var(--grey-200);
  letter-spacing: var(--letterSpacing);
  padding: 0.25rem 0.55rem;
  color: var(--grey-500);
  border-radius: var(--borderRadius);
  transition: var(--transition);
}

.initial-price-input input::placeholder,
.quantity-input input::placeholder,
.current-price-input input::placeholder {
  font-size: 0.85rem;
  font-style: italic;
  letter-spacing: var(--letterSpacing);
}

.initial-price-input input:focus,
.quantity-input input:focus,
.current-price-input input:focus {
  outline: 0;
  border-color: var(--primary-500);
}

.btn-container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 0.75rem;
  /* border: 2px solid red; */
}

.btn {
  font-size: 0.75rem;
  padding: 0.35rem 0.5rem;
}

@media screen and (min-width: 786px) {
  [name='form'] {
    padding: 2rem;
  }

  .initial-price-input,
  .quantity-input,
  .current-price-input {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0 0.25rem;
    margin-bottom: 0.5rem;
  }

  .initial-price-input label,
  .quantity-input label,
  .current-price-input label,
  .initial-price-input input::placeholder,
  .quantity-input input::placeholder,
  .current-price-input input::placeholder {
    font-size: 1rem;
  }

  .initial-price-input input,
  .quantity-input input,
  .current-price-input input {
    font-size: 0.95rem;
  }

  .btn-container {
    margin-bottom: 1.25rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.25rem 1.5rem;
  }
}

.output-section {
  line-height: 1.3;
  min-height: 2rem;
  max-height: fit-content;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: var(--borderRadius);
  background: var(--white);
  /* text-align: center; */
  color: var(--grey-500);
  /* font-size: 0.85rem; */
  letter-spacing: var(--letterSpacing);
  font-size: 0.75rem;
}

.output-section span {
  font-size: 0.8rem;
  font-weight: 800;
}

@media screen and (min-width: 1000px) {
  .output-section {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
  }
}

.footer {
  grid-area: 4 / 1 / span 1 / span 1;
  /* background: var(--primary-500); */
  display: grid;
  gap: 0;
  justify-items: center;
  padding-bottom: 0.5rem;
}

.footer h2 {
  color: var(--primary-800);
  width: 85vw;
  max-width: 700px;
  font-size: 1.15rem;
  text-align: center;
  padding-top: 1rem;
  letter-spacing: var(--letterSpacing);
  /* border: 2px solid red; */
  margin: 0;
  margin-bottom: 0.5rem;
}

.footer-links {
  /* border: 2px solid red; */
  align-self: start;
  display: flex;
  justify-content: space-between;
  width: 40vw;
  max-width: 300px;
  margin: 0 auto;
  margin-top: -0.35rem;
}

.footer-links a {
  font-size: 1.35rem;
  color: var(--primary-800);
  transition: var(--transition);
}

.footer-links a:hover {
  color: var(--primary-500);
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 0;
  }
  .footer h2 {
    margin-bottom: 0;
    font-size: 1.75rem;
  }
  .footer-links a {
    font-size: 2rem;
  }
}
